@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark: #191919;
  --light: rgb(245, 245, 245);
}

body {
  color: var(--dark);
  background-color: var(--light);
}

.--hover {
  transition: all 0.25s ease;
  cursor: pointer;
}
.--hover:hover {
  transform: translate(-3px, -3px);

  box-shadow: 4px 4px 0px 0px rgba(80, 80, 80, .5);
}
